# Этот файл не используется с Nginx и оставлен только для обратной совместимости.
# Вся конфигурация маршрутизации определена в docker/nginx/default.conf

# Включение mod_rewrite
RewriteEngine On

# Если запрос не является файлом
RewriteCond %{REQUEST_FILENAME} !-f
# И не является директорией
RewriteCond %{REQUEST_FILENAME} !-d
# То перенаправить на index.php
RewriteRule ^ index.php [L] 